.footer-container {
  position: absolute;
  top: 110%;
  left: 1%;
  width: 98%;
  height: 100px;

  background-color:transparent;    
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 50px 50px;

  z-index: 15;
}

.footer-title-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;

    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center; 

    gap: 3rem;
    margin: 100px;
    padding: 0.8%;
}

.footer-title-container a.title {
    text-decoration: none;
    color: #38c498;
    font-size: 1.3rem;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}

.footer-title-container a.title::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: -5px;
    background-color: rgb(0, 90, 0);
    transition: width 0.3s ease;
}

.footer-title-container a.title:hover::after {
    width: 100%;
}

.footer-title-container a.title-name:hover {
    color: rgb(0, 200, 0);
}