apiVersion: v1
kind: Service
metadata:
  name: airtrail-service
  namespace: default
  labels:
    app: airtrail
spec:
  type: LoadBalancer
  selector:
    app: airtrail
  ports:
    - name: http
      protocol: TCP
      targetPort: 3000 
      port: 80 